.Footer {
	position: absolute;
	bottom:0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #66dbf9;
	text-align: center;
	font-size: smaller;
}

.menuStyle {
	width: 100%;
	height: 40px;
	list-style-type: none;
	background-color: #66dbf9;
	font-family: 'Roboto', sans-serif;
}

.menuOptionStyle {
	line-height: 40px;
	color: black;
	font-weight: bolder;
	margin: 0 20px;

}

a:hover, a:visited, a:hover, a:active {
	text-decoration: none;
	cursor:pointer;
}

.Home-image {
	height: 40px;
	width: 40px;
}

.Social-media {
	position:absolute;
	display: inline;
	right: 0;
}

.Social-icon {
  height: 50px;
  width: 50px;
  margin: 10px;
}

.Content-style {
	width: 30%;
	margin: auto;
	padding-top: 10px;
}

.Home-content {
	height: 400px;
	width: 400px;
}
