.App {
}

.App-logo {
  position: absoulte;
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  left: 0;
}

.App-header {
  position: relative;
  background-color: #222;
  color: white;
}

.App-title {
  position: absolute;
  font-size: 1.5em;
  left: 200px;
  line-height: 100px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Trademark {
  font-weight: small;
  font-size: 15px;
  animation: example 5s linear 2s infinite alternate;
}

@keyframes example {
    0%   {color: lightgray;}
    25% {color: green;}
    50%   {color: lightgray;}
    100% {color: green;}
}